<!DOCTYPE html>
<html>
    <%- include("parts/head") %>
    <body>
        <div class="center">
            <h1 class="tcenter">LibRuStore</h1>
            <form action="/search">
                <input name="query" class="blocky search" placeholder="Search query" required>
                <input name="page" hidden value="0">
                <input type="submit" class="blocky" value="Go!">
            </form>
            <h4 class="tcenter"><a href="https://github.com/LibRuStore/Website">GitHub</a></h4>
        </div>
    </body>
</html>