<a href="/app/<%= app.pkg %>" class="black">
    <div class="blocky app">
        <img src="<%- app.icon %>" class="r ib icon">
        <div class="ib">
            <p><%= app.name %></p>
        </div>
    </div>
</a>